# 求职者满意度

##### 以数据分析师为例

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib

In [2]:
look_work = pd.read_excel('F:/amyself/c题爬虫/第一题/找工作.xls')
look_ability = pd.read_excel('F:/amyself/c题爬虫/第一题/找人才.xls')
look_work = pd.DataFrame(look_work)
look_ability = pd.DataFrame(look_ability)

In [3]:
look_ability.head(2)

,人才id,姓名,性别,工作经验,应聘工作岗位,最低薪资期望,最高薪资期望,所在城市,上传时间,个人技能
0,1635610357617786880,欧先生,0.0,无经验,"[""数据分析师"",""数据挖掘工程师"",""算法工程师""]",3000,4000,"[""广东省"",""广州市"",""天河区""]",2023-03-14,None
1,1634019092572798976,赖女士,1.0,无经验,"[""数据分析师""]",4000,5000,"[""江苏省"",""南京市"",""江宁区""]",2023-03-10,None

In [4]:
look_work.head(1)

,工作id,工作更新时间,工作岗位名称,工作岗位最低工资,工作岗位最高工资,工作岗位要求经验,工作岗位要求学历,工作岗位招收人数,工作岗位具体地址,公司名称,公司所属类型,公司成立模式,公司规模,岗位技能
0,1631112859985509888,2023-03-02 10:03,会计实习生,3500,7000,不限,2,2,广东省深圳市宝安区西乡街道南昌社区固戍二路99号(南昌第二工业区东区),海柔创新科技,"[""电子商务"",""互联网""]",合资,150-500人,None

In [5]:
sjfxs_qy = look_work[look_work['工作岗位名称'] == '数据分析师'].reset_index()
sjfxs_qy # 数据分析师的招聘岗位在招聘网站上算是岗位数量很多的了，总共266家企业招聘这个岗位

,index,工作id,工作更新时间,工作岗位名称,工作岗位最低工资,工作岗位最高工资,工作岗位要求经验,工作岗位要求学历,工作岗位招收人数,工作岗位具体地址,公司名称,公司所属类型,公司成立模式,公司规模,岗位技能
0,22,1585550146098298880,2022-10-27 16:33,数据分析师,10000,15000,1-3年,3,2,蠡湖大道2018号8号楼1-5层,蓝创,"[""互联网"",""软件""]",民营公司,500-1000人,None
1,24,1582578771930775552,2022-10-19 11:45,数据分析师,7000,9000,1-3年,3,3,钟村街谢村谢石公路66号D座二楼整层及三楼101,偏爱服饰,"[""互联网"",""服饰""]",民营公司,150-500人,None
2,26,1578672658197905408,2022-10-08 17:04,数据分析师,12000,20000,1-3年,3,2,古林镇鄞县大道古林段1号三楼南面办公室,太平鸟,"[""互联网"",""服饰""]",上市公司,10000人以上,None
3,29,1574931491241197568,2022-09-28 09:18,数据分析师,8000,15000,经验不限,3,2,中国(上海)自由贸易试验区祥科路58号2幢5层B区524室,派兰数据,"[""互联网"",""大数据""]",民营公司,150-500人,None
4,41,1569585390216675328,2022-09-13 15:14,数据分析师,8000,15000,经验不限,3,2,中国(上海)自由贸易试验区祥科路58号2幢5层B区524室,派兰数据,"[""互联网"",""大数据""]",民营公司,150-500人,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,1492,1482176795087339520,2022-01-15 10:24,数据分析师,15000,30000,3,3,2,广州天河区,卓望数码技术(深圳)有限公司,"[""互联网""]",合资,50-100人,None
262,1540,1461595991152132096,2021-12-08 11:12,数据分析师,6000,10000,经验不限,3,0,天寿路,艾瑞咨询,"[""电子商务"",""互联网""]",合资,150-500人,数据探索数据查询数据分析数据建模数据计算
263,1549,1463339842803990528,2021-12-08 11:03,数据分析师,7000,10000,经验不限,2,0,天河路490号1201房(仅限办公),中软国际,"[""互联网"",""数据服务""]",合资,150-500人,数据查询数据分析数据计算数据可视化
264,1562,1461621784037163008,2021-12-08 10:55,数据分析师,8000,13000,经验不限,3,0,元岗路310号智汇创意园E座601～603单元,铭太科技,"[""电子商务"",""互联网""]",合资,500-1000人,数据探索数据查询数据建模数据计算数据预处理
265,1567,1461587935500566528,2021-11-23 15:38,数据分析师,8000,13000,经验不限,3,0,城科林路9、11号,广电运通,"[""电子商务"",""互联网""]",国企,500-1000人,数据探索数据查询数据建模数据计算数据预处理

In [6]:
sjfxs_qy['平均工资'] = (sjfxs_qy['工作岗位最低工资'] + sjfxs_qy['工作岗位最高工资'])/2
sjfxs_a = ['工作id','平均工资','工作岗位要求经验']
sjfxs_aa = sjfxs_qy[sjfxs_a]
sjfxs_aa = pd.DataFrame(sjfxs_aa)
sjfxs_aa

                    工作id     平均工资 工作岗位要求经验
0    1585550146098298880  12500.0     1-3年
1    1582578771930775552   8000.0     1-3年
2    1578672658197905408  16000.0     1-3年
3    1574931491241197568  11500.0     经验不限
4    1569585390216675328  11500.0     经验不限
..                   ...      ...      ...
261  1482176795087339520  22500.0        3
262  1461595991152132096   8000.0     经验不限
263  1463339842803990528   8500.0     经验不限
264  1461621784037163008  10500.0     经验不限
265  1461587935500566528  10500.0     经验不限

[266 rows x 3 columns]

In [7]:
sjfxs_qz = look_ability.loc[look_ability['应聘工作岗位'].str.contains('数据分析师')]  # 查询发现应聘者中想要应聘数据分析师共有10843人
sjfxs_qz

,人才id,姓名,性别,工作经验,应聘工作岗位,最低薪资期望,最高薪资期望,所在城市,上传时间,个人技能
0,1635610357617786880,欧先生,0.0,无经验,"[""数据分析师"",""数据挖掘工程师"",""算法工程师""]",3000,4000,"[""广东省"",""广州市"",""天河区""]",2023-03-14,None
1,1634019092572798976,赖女士,1.0,无经验,"[""数据分析师""]",4000,5000,"[""江苏省"",""南京市"",""江宁区""]",2023-03-10,None
2,1632947816114552832,梁先生,0.0,1年工作经验,"[""数据分析师"",""数据挖掘工程师"",""机器学习工程师""]",6000,7000,"[""广东省"",""广州市"",""天河区""]",2023-03-07,None
3,1632286586903330816,钟先生,0.0,无经验,"[""数据分析师"",""数据挖掘工程师"",""机器学习工程师""]",4000,6000,"[""广东省"",""广州市"",""黄埔区""]",2023-03-05,None
4,1579833809761861632,李先生,0.0,无经验,"[""数据分析师"",""数据挖掘工程师""]",4000,8000,"[""广东省"",""深圳市"",""南山区""]",2023-03-03,None
...,...,...,...,...,...,...,...,...,...,...
10894,7539911358883229204,孔先生,0.0,NaN,"[""数据分析师"",""数据挖掘工程师""]",10000,15000,NaN,NaN,None
10896,7539911380358065684,陈先生,0.0,NaN,"[""数据分析师"",""数据挖掘工程师""]",6000,10000,NaN,NaN,None
10900,7539911427602705940,廖先生,0.0,NaN,"[""数据分析师"",""数据挖掘工程师""]",5000,7000,NaN,NaN,None
10902,7539911444782575124,徐先生,0.0,NaN,"[""数据分析师"",""数据挖掘工程师""]",5000,7000,NaN,NaN,None
10903,7539911453372509716,陈先生,0.0,NaN,"[""数据分析师"",""数据挖掘工程师""]",5000,8000,NaN,NaN,None

In [8]:
sjfxs_qzb = ['人才id','最高薪资期望','工作经验']
sjfxs_qzbb = look_ability[sjfxs_qzb]
sjfxs_qzbb = pd.DataFrame(sjfxs_qzbb)
sjfxs_qzbb

                      人才id  最高薪资期望    工作经验
0      1635610357617786880    4000     无经验
1      1634019092572798976    5000     无经验
2      1632947816114552832    7000  1年工作经验
3      1632286586903330816    6000     无经验
4      1579833809761861632    8000     无经验
...                    ...     ...     ...
10903  7539911453372509716    8000     NaN
10904  7539911466257411604    7000     NaN
10905  7539911474847346196    8000     NaN
10906  7539911483437280788   15000     NaN
10907  7539911492027215380   10000     NaN

[10908 rows x 3 columns]

In [9]:
# 合并两个表格
sjfxs_qzbb['工作经验'] = sjfxs_qzbb['工作经验'].replace(np.nan, '无经验')
sjfx_cc = pd.concat([sjfxs_aa,sjfxs_qzbb],axis=1)
sjfx_cc.isnull().sum()

工作id        10642
平均工资        10642
工作岗位要求经验    10642
人才id            0
最高薪资期望          0
工作经验            0
dtype: int64

In [10]:
sjfx_cc = sjfx_cc.dropna()
sjfx_cc

             工作id     平均工资 工作岗位要求经验                 人才id  最高薪资期望    工作经验
0    1.585550e+18  12500.0     1-3年  1635610357617786880    4000     无经验
1    1.582579e+18   8000.0     1-3年  1634019092572798976    5000     无经验
2    1.578673e+18  16000.0     1-3年  1632947816114552832    7000  1年工作经验
3    1.574931e+18  11500.0     经验不限  1632286586903330816    6000     无经验
4    1.569585e+18  11500.0     经验不限  1579833809761861632    8000     无经验
..            ...      ...      ...                  ...     ...     ...
261  1.482177e+18  22500.0        3  7539825601271229972    6000     无经验
262  1.461596e+18   8000.0     经验不限  7539825609861164564   10000     无经验
263  1.463340e+18   8500.0     经验不限  7539825618451099156   10000     无经验
264  1.461622e+18  10500.0     经验不限  7539825627041033748    9000     无经验
265  1.461588e+18  10500.0     经验不限  7539825631336001044    7000     无经验

[266 rows x 6 columns]

In [11]:
sjfx_cc['工作岗位要求经验'].unique()

array(['1-3年', '经验不限', '3-5年', '1', '0', '5', '3'], dtype=object)

In [12]:
sjfx_cc['工作经验'].unique()

array(['无经验', '1年工作经验', '4年工作经验', '3年工作经验', '10年以上工作经验'], dtype=object)

In [13]:
sjfx_cc['工作岗位要求经验'] = sjfx_cc['工作岗位要求经验'].replace('经验不限','无经验')
sjfx_cc['工作岗位要求经验'] = sjfx_cc['工作岗位要求经验'].replace('0','无经验')
sjfx_cc['工作岗位要求经验'] = sjfx_cc['工作岗位要求经验'].replace('1','1年工作经验')
sjfx_cc['工作岗位要求经验'] = sjfx_cc['工作岗位要求经验'].replace('3','3年工作经验')
sjfx_cc['工作岗位要求经验'] = sjfx_cc['工作岗位要求经验'].replace('1-3年','1年工作经验')
sjfx_cc['工作岗位要求经验'] = sjfx_cc['工作岗位要求经验'].replace('3-5年','3年工作经验')
sjfx_cc['工作岗位要求经验'] = sjfx_cc['工作岗位要求经验'].replace('5','5年工作经验')
sjfx_cc

             工作id     平均工资 工作岗位要求经验                 人才id  最高薪资期望    工作经验
0    1.585550e+18  12500.0   1年工作经验  1635610357617786880    4000     无经验
1    1.582579e+18   8000.0   1年工作经验  1634019092572798976    5000     无经验
2    1.578673e+18  16000.0   1年工作经验  1632947816114552832    7000  1年工作经验
3    1.574931e+18  11500.0      无经验  1632286586903330816    6000     无经验
4    1.569585e+18  11500.0      无经验  1579833809761861632    8000     无经验
..            ...      ...      ...                  ...     ...     ...
261  1.482177e+18  22500.0   3年工作经验  7539825601271229972    6000     无经验
262  1.461596e+18   8000.0      无经验  7539825609861164564   10000     无经验
263  1.463340e+18   8500.0      无经验  7539825618451099156   10000     无经验
264  1.461622e+18  10500.0      无经验  7539825627041033748    9000     无经验
265  1.461588e+18  10500.0      无经验  7539825631336001044    7000     无经验

[266 rows x 6 columns]

In [14]:
# sjfx_cc.to_csv('F:/amyself/c题爬虫/第三题/构建求职者满意度模型_sjfx_cc.csv',encoding='utf8')

In [15]:
sjfx_cc["xdate"] =sjfx_cc["平均工资"].map(str) + sjfx_cc["工作岗位要求经验"].map(str)  
sjfx_cc["ydate"] =sjfx_cc["最高薪资期望"].map(str) + sjfx_cc["工作经验"].map(str)  
sjfx_cc.tail(20)

,工作id,平均工资,工作岗位要求经验,人才id,最高薪资期望,工作经验,xdate,ydate
246,1.482185e+18,9500.0,无经验,7539868499404582420,15000,无经验,9500.0无经验,15000无经验
247,1.482185e+18,12500.0,无经验,7539868507994517012,10000,无经验,12500.0无经验,10000无经验
248,1.482185e+18,13000.0,1年工作经验,7539868516584451604,9000,无经验,13000.01年工作经验,9000无经验
249,1.482185e+18,13000.0,1年工作经验,7539868525174386196,10000,无经验,13000.01年工作经验,10000无经验
250,1.482185e+18,14000.0,1年工作经验,7539868533764320788,8000,无经验,14000.01年工作经验,8000无经验
251,1.482185e+18,14000.0,1年工作经验,7539868542354255380,8000,无经验,14000.01年工作经验,8000无经验
252,1.482185e+18,15000.0,3年工作经验,7539868550944189972,15000,无经验,15000.03年工作经验,15000无经验
253,1.482185e+18,7500.0,1年工作经验,7539868559534124564,4000,无经验,7500.01年工作经验,4000无经验
254,1.482185e+18,7500.0,1年工作经验,7539868563829091860,7000,无经验,7500.01年工作经验,7000无经验
255,1.482184e+18,9500.0,1年工作经验,7539868572419026452,4000,无经验,9500.01年工作经验,4000无经验
256,1.482184e+18,9500.0,1年工作经验,7539868581008961044,15000,无经验,9500.01年工作经验,15000无经验
257,1.482183e+18,19000.0,1年工作经验,7539825575501426196,8000,无经验,19000.01年工作经验,8000无经验
258,1.482183e+18,20000.0,1年工作经验,7539825579796393492,10000,无经验,20000.01年工作经验,10000无经验
259,1.482183e+18,20000.0,1年工作经验,7539825588386328084,4000,无经验,20000.01年工作经验,4000无经验
260,1.482183e+18,22500.0,3年工作经验,7539825592681295380,7000,无经验,22500.03年工作经验,7000无经验
261,1.482177e+18,22500.0,3年工作经验,7539825601271229972,6000,无经验,22500.03年工作经验,6000无经验
262,1.461596e+18,8000.0,无经验,7539825609861164564,10000,无经验,8000.0无经验,10000无经验
263,1.463340e+18,8500.0,无经验,7539825618451099156,10000,无经验,8500.0无经验,10000无经验
264,1.461622e+18,10500.0,无经验,7539825627041033748,9000,无经验,10500.0无经验,9000无经验
265,1.461588e+18,10500.0,无经验,7539825631336001044,7000,无经验,10500.0无经验,7000无经验

In [16]:
sjfx_data = ['工作id','xdate','人才id','ydate']
sjfx_data1 = sjfx_cc[sjfx_data]
sjfx_data1

             工作id          xdate                 人才id       ydate
0    1.585550e+18  12500.01年工作经验  1635610357617786880     4000无经验
1    1.582579e+18   8000.01年工作经验  1634019092572798976     5000无经验
2    1.578673e+18  16000.01年工作经验  1632947816114552832  70001年工作经验
3    1.574931e+18     11500.0无经验  1632286586903330816     6000无经验
4    1.569585e+18     11500.0无经验  1579833809761861632     8000无经验
..            ...            ...                  ...         ...
261  1.482177e+18  22500.03年工作经验  7539825601271229972     6000无经验
262  1.461596e+18      8000.0无经验  7539825609861164564    10000无经验
263  1.463340e+18      8500.0无经验  7539825618451099156    10000无经验
264  1.461622e+18     10500.0无经验  7539825627041033748     9000无经验
265  1.461588e+18     10500.0无经验  7539825631336001044     7000无经验

[266 rows x 4 columns]

In [17]:
# import csv,shutil
# sjfx_data1.to_csv('F:/amyself/c题爬虫/第三题/sjfx_data1.csv',encoding='gbk')

# a=open('F:/amyself/c题爬虫/第三题/sjfx_data1.csv','r')
# reader = csv.reader(a)
 
# with open('F:/amyself/c题爬虫/第三题/sjfx_data1.txt','w',encoding='gbk') as f:
    
#     for i in reader:
#         for x in i:
#             f.write(x)
#             f.write('\t')
#         f.write('\n')
# a.close()

In [18]:
import jieba

# 添加自定义词典
jieba.load_userdict("F:/amyself/c题爬虫/第三题/sjfx_data1.txt")
# 分词测试
seg_words = jieba.lcut("150000.01年工作经验")
print(seg_words)

Building prefix dict from the default dictionary ...
Loading model from cache C:\Users\ADMINI~1\AppData\Local\Temp\jieba.cache
Loading model cost 0.681 seconds.
Prefix dict has been built successfully.

['150000.01', '年', '工作', '经验']

In [19]:
sjfx_data1.head(2)

           工作id          xdate                 人才id    ydate
0  1.585550e+18  12500.01年工作经验  1635610357617786880  4000无经验
1  1.582579e+18   8000.01年工作经验  1634019092572798976  5000无经验

In [20]:
sjfx_data1["xdate"] = sjfx_data1["xdate"].apply(lambda x: jieba.lcut(x.strip("\r\t ").replace("***","*")))
sjfx_data1["ydate"] = sjfx_data1["ydate"].apply(lambda x: jieba.lcut(x.strip("\r\t ").replace("***","*")))
sjfx_data1.head()

C:\Users\Administrator\AppData\Local\Temp\ipykernel_21028\1379879913.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sjfx_data1["xdate"] = sjfx_data1["xdate"].apply(lambda x: jieba.lcut(x.strip("\r\t ").replace("***","*")))
C:\Users\Administrator\AppData\Local\Temp\ipykernel_21028\1379879913.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sjfx_data1["ydate"] = sjfx_data1["ydate"].apply(lambda x: jieba.lcut(x.strip("\r\t ").replace("***","*")))

,工作id,xdate,人才id,ydate
0,1.585550e+18,"[12500.01, 年, 工作, 经验]",1635610357617786880,"[4000, 无, 经验]"
1,1.582579e+18,"[8000.01, 年, 工作, 经验]",1634019092572798976,"[5000, 无, 经验]"
2,1.578673e+18,"[16000.01, 年, 工作, 经验]",1632947816114552832,"[70001, 年, 工作, 经验]"
3,1.574931e+18,"[11500.0, 无, 经验]",1632286586903330816,"[6000, 无, 经验]"
4,1.569585e+18,"[11500.0, 无, 经验]",1579833809761861632,"[8000, 无, 经验]"

In [21]:
sjfx_data1['label'] = 0
sjfx_data1

C:\Users\Administrator\AppData\Local\Temp\ipykernel_21028\314267339.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sjfx_data1['label'] = 0

,工作id,xdate,人才id,ydate,label
0,1.585550e+18,"[12500.01, 年, 工作, 经验]",1635610357617786880,"[4000, 无, 经验]",0
1,1.582579e+18,"[8000.01, 年, 工作, 经验]",1634019092572798976,"[5000, 无, 经验]",0
2,1.578673e+18,"[16000.01, 年, 工作, 经验]",1632947816114552832,"[70001, 年, 工作, 经验]",0
3,1.574931e+18,"[11500.0, 无, 经验]",1632286586903330816,"[6000, 无, 经验]",0
4,1.569585e+18,"[11500.0, 无, 经验]",1579833809761861632,"[8000, 无, 经验]",0
...,...,...,...,...,...
261,1.482177e+18,"[22500.03, 年, 工作, 经验]",7539825601271229972,"[6000, 无, 经验]",0
262,1.461596e+18,"[8000.0, 无, 经验]",7539825609861164564,"[10000, 无, 经验]",0
263,1.463340e+18,"[8500.0, 无, 经验]",7539825618451099156,"[10000, 无, 经验]",0
264,1.461622e+18,"[10500.0, 无, 经验]",7539825627041033748,"[9000, 无, 经验]",0
265,1.461588e+18,"[10500.0, 无, 经验]",7539825631336001044,"[7000, 无, 经验]",0

In [22]:
from collections import Counter

c = Counter()
sent_data = sjfx_data1["xdate"].values + sjfx_data1["xdate"].values
for d in sent_data:
    c.update(d)
word_counts = sorted(dict(c).items(), key=lambda x: x[1], reverse=True)

print(word_counts[:10])

[('经验', 532), ('年', 434), ('工作', 434), ('无', 98), ('12500.01', 40), ('8500.01', 32), ('12500.03', 28), ('20000.01', 28), ('22500.03', 24), ('17500.03', 24)]

In [23]:
vocab_words = ["<PAD>", "<UNK>"]
for w, c in word_counts:
    vocab_words.append(w)

vocab2id = {w: i for i, w in enumerate(vocab_words)}
id2vocab = {i: w for i, w in enumerate(vocab_words)}

print("vocab size: ", len(vocab2id))
print(list(vocab2id.items())[:5])
print(list(id2vocab.items())[:5])

vocab size:  63
[('<PAD>', 0), ('<UNK>', 1), ('经验', 2), ('年', 3), ('工作', 4)]
[(0, '<PAD>'), (1, '<UNK>'), (2, '经验'), (3, '年'), (4, '工作')]

In [24]:
# with open("F:/amyself/c题爬虫/第三题/sjfx_data1_vocab.txt", "w", encoding="utf8") as f:
#     for w, i in vocab2id.items():
#         f.write(w+"\n")

In [25]:
def sent2index(vocab2id, words):
    return [vocab2id[w] if w in vocab2id else vocab2id["<UNK>"] for w in words]

sjfx_data1["xdate"] = sjfx_data1["xdate"].apply(lambda x: sent2index(vocab2id, x))
sjfx_data1["ydate"] = sjfx_data1["ydate"].apply(lambda x: sent2index(vocab2id, x))

sjfx_data1.head(5)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_21028\3145427660.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sjfx_data1["xdate"] = sjfx_data1["xdate"].apply(lambda x: sent2index(vocab2id, x))
C:\Users\Administrator\AppData\Local\Temp\ipykernel_21028\3145427660.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sjfx_data1["ydate"] = sjfx_data1["ydate"].apply(lambda x: sent2index(vocab2id, x))

           工作id          xdate                 人才id         ydate  label
0  1.585550e+18   [6, 3, 4, 2]  1635610357617786880     [1, 5, 2]      0
1  1.582579e+18  [25, 3, 4, 2]  1634019092572798976     [1, 5, 2]      0
2  1.578673e+18  [16, 3, 4, 2]  1632947816114552832  [1, 3, 4, 2]      0
3  1.574931e+18     [26, 5, 2]  1632286586903330816     [1, 5, 2]      0
4  1.569585e+18     [26, 5, 2]  1579833809761861632     [1, 5, 2]      0

In [26]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import backend as K

print(tf.__version__)

class BaseTextCNN(keras.Model):
    def __init__(self, filters, kernel_sizes, output_dim, name):
        super(BaseTextCNN, self).__init__(name=name)
        self.kernel_sizes = kernel_sizes
        self.conv_layers = []
        self.max_poolings = []
        for kernel_size in kernel_sizes:
            self.conv_layers.append(
                keras.layers.Conv1D(filters=filters, kernel_size=kernel_size, 
                                activation='relu', padding="same")
            )
            self.max_poolings.append(keras.layers.GlobalMaxPool1D())
        self.concatenate = keras.layers.Concatenate()
        self.dense = keras.layers.Dense(output_dim, activation='tanh')
        
    def call(self, inputs):
        convs = []
        for i in range(len(self.kernel_sizes)):
            x = self.conv_layers[i](inputs)
            x = self.max_poolings[i](x)
            convs.append(x)
        x = self.concatenate(convs)
        output = self.dense(x)
        return output

2.3.0

In [27]:
max_len = 15
vocab_size = len(vocab2id)
embedding_size = 128
filters = 200
kernel_sizes = [3,4,5]
output_dim = 100

In [28]:
from tensorflow.keras.layers import Input,Embedding,Dot,Dense
from tensorflow.keras.models import Model

In [29]:
from tensorflow.keras.layers import Dense,Conv1D,GlobalMaxPool1D,concatenate
from tensorflow.keras.layers import Bidirectional,LSTM
from tensorflow.keras.layers import Attention

In [30]:
# EMBEDDING_SIZE = 100
hidden_size= 64
attention_size = 50
# hidden_size=64
class_nums=2

In [31]:
from tensorflow.keras import  initializers,regularizers,constraints
from  tensorflow.keras.layers import Layer
import tensorflow as tf

class Attention(Layer):
    def __init__(self,
                 W_regularizer=None,
                 b_regularizer=None,
                 W_constraint=None,
                 b_constraint=None,
                 bias=True,
                 **kwargs
                 ):
        """
        Keras Layer that implements an Attention mechanism for temporal data.
        Supports Masking.
        Follows the work of Raffel et al. [https://arxiv.org/abs/1512.08756]
        # Input shape
            3D tensor with shape: `(samples, steps, features)`.
        # Output shape
            2D tensor with shape: `(samples, features)`.
        :param kwargs:
        Just put it on top of an RNN Layer (GRU/LSTM/SimpleRNN) with return_sequences=True.
        The dimensions are inferred based on the output shape of the RNN.
        Example:
            # 1
            model.add(LSTM(64, return_sequences=True))
            model.add(Attention())
            # next add a Dense layer (for classification/regression) or whatever...
            # 2
            hidden = LSTM(64, return_sequences=True)(words)
            sentence = Attention()(hidden)
            # next add a Dense layer (for classification/regression) or whatever...
        """
        super(Attention, self).__init__()
        self.bias = bias
        self.init = initializers.get('glorot_uniform')

    def build(self, input_shape):
        '''
        :param input_shape:
        :return:
        '''
        self.output_dim = input_shape[-1]
        self.W = self.add_weight(
                                 name='{}_W'.format(self.name),
                                 shape=(input_shape[2], 1),
                                 initializer=self.init,
                                 trainable=True
                                 )
        if self.bias:
            self.b = self.add_weight(
                                     name='{}_b'.format(self.name),
                                     shape=(input_shape[1], 1),
                                     initializer='zero',
                                     trainable=True
                                     )
        else:
            self.b = None

        self.built = True

    def compute_mask(self, inputs, mask=None):
        return None

    def call(self, inputs, mask=None):
        # (N, step, d), (d, 1)  ==>   (N, step, 1)
        e = tf.matmul(inputs, self.W, )
        if self.bias:
            e += self.b
        e = tf.tanh(e)
        a = tf.nn.softmax(e, axis=1)
        # (N, step, d) (N, step, 1) ====> (N, step, d)
        c = inputs*a
        # (N, d)
        c = tf.reduce_sum(c, axis=1)
        return c

    def get_config(self):
        return {'units': self.output_dim}

In [32]:
input1=Input(name='sent1',shape=(max_len,))
input2=Input(name='sent2',shape=(max_len,))
embedding=Embedding(vocab_size,embedding_size)
sent1_embed=embedding(input1)
sent2_embed=embedding(input2)
b1=Bidirectional(LSTM(hidden_size, dropout=0.2, return_sequences=True))(sent1_embed)
b2=Bidirectional(LSTM(hidden_size, dropout=0.2, return_sequences=True))(sent2_embed)
output_sent1= Attention()(b1)
output_sent2= Attention()(b2)
cosine_output=Dot(axes=[1,1],normalize=True)([output_sent1,output_sent2])
outputs=Dense(1,activation='linear',name="output")(cosine_output)
model=Model(inputs=[input1,input2],outputs=outputs)

In [33]:
model.summary()

Model: "functional_1"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
sent1 (InputLayer)              [(None, 15)]         0
__________________________________________________________________________________________________
sent2 (InputLayer)              [(None, 15)]         0
__________________________________________________________________________________________________
embedding (Embedding)           (None, 15, 128)      8064        sent1[0][0]
                                                                 sent2[0][0]
__________________________________________________________________________________________________
bidirectional (Bidirectional)   (None, 15, 128)      98816       embedding[0][0]
__________________________________________________________________________________________________
bidirectional_1 (Bidirectional) (None, 15, 128)      98816       embedding[1][0]
__________________________________________________________________________________________________
attention (Attention)           (None, 128)          143         bidirectional[0][0]
__________________________________________________________________________________________________
attention_1 (Attention)         (None, 128)          143         bidirectional_1[0][0]
__________________________________________________________________________________________________
dot (Dot)                       (None, 1)            0           attention[0][0]
                                                                 attention_1[0][0]
__________________________________________________________________________________________________
output (Dense)                  (None, 1)            2           dot[0][0]
==================================================================================================
Total params: 205,984
Trainable params: 205,984
Non-trainable params: 0
__________________________________________________________________________________________________

In [34]:
import numpy as np
from tensorflow.keras.preprocessing.sequence import pad_sequences

def batch_generator(all_data, batch_size, maxlen, shuffle=True):
    """
    :param all_data : all_data整个数据集，包含输入和输出标签
    :param batch_size: batch_size表示每个batch的大小
    :param shuffle: 是否打乱顺序
    :return:
    """
    # 输入all_datas的每一项必须是numpy数组，保证后面能按p所示取值
    all_data = [np.array(d) for d in all_data]
    # 获取样本大小
    data_size = all_data[0].shape[0]

    if shuffle:
        # 随机生成打乱的索引
        p = np.random.permutation(data_size)
        # 重新组织数据
        all_data = [d[p] for d in all_data]
        
    batch_count = 0
    while True:
        # 数据一轮循环(epoch)完成，打乱一次顺序
        if batch_count * batch_size + batch_size > data_size:
            batch_count = 0
            if shuffle:
                p = np.random.permutation(data_size)
                all_data = [d[p] for d in all_data]
        start = batch_count * batch_size
        end = start + batch_size
        batch_count += 1
        batch_data = [d[start: end] for d in all_data]
        batch_sent1, batch_sent2, batch_label = batch_data
        
        batch_sent1_pad = pad_sequences(batch_sent1, maxlen=max_len, padding='post')
        batch_sent2_pad = pad_sequences(batch_sent2, maxlen=max_len, padding='post')
        
        yield [batch_sent1_pad, batch_sent2_pad], batch_label

In [35]:
sent1_datas = sjfx_data1["xdate"].values.tolist()
sent2_datas = sjfx_data1["xdate"].values.tolist()
labels = sjfx_data1["label"].values.tolist()

In [36]:
# 划分训练 测试数据集
count = len(labels)
idx1, idx2 = int(count*0.8), int(count*0.9)
sent1_train, sent2_train = sent1_datas[:idx1], sent2_datas[:idx1]
sent1_val, sent2_val = sent1_datas[idx1:idx2], sent2_datas[idx1:idx2]
sent1_test, sent2_test = sent1_datas[idx2:], sent2_datas[idx2:]

train_labels, val_labels, test_labels = labels[:idx1], labels[idx1:idx2], labels[idx2:]

print("train data: ", len(sent1_train), len(sent2_train), len(train_labels))
print("val data: ", len(sent1_val), len(sent2_val), len(val_labels))
print("test data: ", len(sent1_test), len(sent2_test), len(test_labels))

train data:  212 212 212
val data:  27 27 27
test data:  27 27 27

In [37]:
# batch数据的生成器
batch_size = 64
maxlen = 15
batch_count = int(len(train_labels) / batch_size)
batch_gen_train = batch_generator([sent1_train, sent2_train, train_labels], batch_size, max_len)
batch_gen_val = batch_generator([sent1_val, sent2_val, val_labels], batch_size, max_len)
batch_gen_test = batch_generator([sent1_test, sent2_test, test_labels], batch_size, max_len)

In [38]:
epochs = 10

model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# 训练模型
model.fit(batch_gen_train, 
                    verbose=1, 
                    validation_data=batch_gen_val,
                    validation_steps=100,
                    steps_per_epoch=batch_count, 
                    epochs=2)

# 预测模型
score, acc = model.evaluate(batch_gen_test, steps=50, 
                                      max_queue_size=10, 
                                      use_multiprocessing=False)
print('score:', score, 'accuracy:', acc)

# 保存训练好的模型
# model.save("output/cnndssm_semantic_match.h5")
# model.save_weights("output/match_model_weight.h5")

Epoch 1/2
3/3 [==============================] - 3s 926ms/step - loss: 0.0148 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
Epoch 2/2
3/3 [==============================] - 1s 227ms/step - loss: 0.0000e+00 - accuracy: 1.0000 - val_loss: 0.0000e+00 - val_accuracy: 1.0000
50/50 [==============================] - 0s 6ms/step - loss: 0.0000e+00 - accuracy: 1.0000
score: 0.0 accuracy: 1.0

In [39]:
import math
def sent2index(vocab2id, words):
    return [vocab2id[w] if w in vocab2id else vocab2id["<UNK>"] for w in words]

sent1 = "12500.01年工作经验"
sent2 = "15000无经验"

sent1_ids = sent2index(vocab2id, jieba.lcut(sent1))
sent2_ids = sent2index(vocab2id, jieba.lcut(sent2))

sent1_pad = pad_sequences([sent1_ids], maxlen=max_len, padding='post')
sent2_pad = pad_sequences([sent2_ids], maxlen=max_len, padding='post')

# model.load_weights("output/match_model_weight.h5")

preds = model.predict([sent1_pad, sent2_pad])

print("sent1: %s" % sent1)
print("sent2: %s" % sent2)
print("score: %s" % math.fabs(preds[0]))

sent1: 12500.01年工作经验
sent2: 15000无经验
score: 0.8509632349014282

In [40]:
sjfx_data2 = sjfx_cc
sjfx_data2_x = sjfx_data2['xdate']
sjfx_data2_y = sjfx_data2['ydate']
sjfx_data2_x1 = []
sjfx_data2_y1 = []
for i in sjfx_data2_x:
    sjfx_data2_x1.append(i)
for j in sjfx_data2_y:
    sjfx_data2_y1.append(j)

In [41]:
sjfx_data2_xy = []
for sent1,sent2 in zip(sjfx_data2_x1,sjfx_data2_y1):
    sent1_ids = sent2index(vocab2id, jieba.lcut(sent1))
    sent2_ids = sent2index(vocab2id, jieba.lcut(sent2))
    sent1_pad = pad_sequences([sent1_ids], maxlen=max_len, padding='post')
    sent2_pad = pad_sequences([sent2_ids], maxlen=max_len, padding='post')
    preds = model.predict([sent1_pad, sent2_pad])
    sjfx_data2_xy.append(math.fabs(preds[0]))
sjfx_data2_xy

[0.8509632349014282,
 0.849371075630188,
 0.8585078120231628,
 0.8402727246284485,
 0.8402727246284485,
 0.8382284045219421,
 0.8423032760620117,
 0.8416848182678223,
 0.8539139032363892,
 0.8539139032363892,
 0.849371075630188,
 0.8556520938873291,
 0.8423032760620117,
 0.8315306901931763,
 0.8415354490280151,
 0.8539139032363892,
 0.8457805514335632,
 0.8513062000274658,
 0.8402025103569031,
 0.8319670557975769,
 0.8547517657279968,
 0.8509632349014282,
 0.8509632349014282,
 0.8509523868560791,
 0.8367568254470825,
 0.8509632349014282,
 0.864528477191925,
 0.8509523868560791,
 0.8509523868560791,
 0.8662431240081787,
 0.8530236482620239,
 0.8542828559875488,
 0.8542828559875488,
 0.8509632349014282,
 0.864528477191925,
 0.8644081354141235,
 0.8500491976737976,
 0.8509632349014282,
 0.8509632349014282,
 0.8717848658561707,
 0.8570321202278137,
 0.8550248146057129,
 0.8450351357460022,
 0.8403650522232056,
 0.8600495457649231,
 0.8403650522232056,
 0.8487930297851562,
 0.8487930297851562,
 0.8367568254470825,
 0.8367568254470825,
 0.865319013595581,
 0.8518213033676147,
 0.8544758558273315,
 0.8544758558273315,
 0.8483192324638367,
 0.8483192324638367,
 0.8487930297851562,
 0.8487930297851562,
 0.8367568254470825,
 0.8509523868560791,
 0.8518213033676147,
 0.8518213033676147,
 0.8544758558273315,
 0.8544758558273315,
 0.8483192324638367,
 0.8483192324638367,
 0.8471495509147644,
 0.8471495509147644,
 0.8618082404136658,
 0.8684529662132263,
 0.854529082775116,
 0.8444433212280273,
 0.8444433212280273,
 0.8483192324638367,
 0.8544758558273315,
 0.8483192324638367,
 0.8669836521148682,
 0.8525999188423157,
 0.864528477191925,
 0.8525999188423157,
 0.8509632349014282,
 0.8509632349014282,
 0.8563291430473328,
 0.8563291430473328,
 0.8319670557975769,
 0.8319670557975769,
 0.8515576720237732,
 0.8515576720237732,
 0.8392695188522339,
 0.8392695188522339,
 0.864528477191925,
 0.8509632349014282,
 0.8451750874519348,
 0.8476874232292175,
 0.8451750874519348,
 0.8612920641899109,
 0.8541944622993469,
 0.8515576720237732,
 0.8423032760620117,
 0.8487930297851562,
 0.8423032760620117,
 0.8487930297851562,
 0.8509632349014282,
 0.8509632349014282,
 0.8509632349014282,
 0.8509632349014282,
 0.847880482673645,
 0.847880482673645,
 0.8525999188423157,
 0.8525999188423157,
 0.8450351357460022,
 0.8450351357460022,
 0.8360393643379211,
 0.8360393643379211,
 0.8528949022293091,
 0.8528949022293091,
 0.8452661633491516,
 0.8452661633491516,
 0.8447940945625305,
 0.8447940945625305,
 0.8444433212280273,
 0.8444433212280273,
 0.8525999188423157,
 0.8525999188423157,
 0.8487930297851562,
 0.8487930297851562,
 0.8500271439552307,
 0.8500271439552307,
 0.8481335043907166,
 0.8481335043907166,
 0.8590888977050781,
 0.8442144989967346,
 0.8402727246284485,
 0.8402727246284485,
 0.8565295338630676,
 0.8481335043907166,
 0.8565295338630676,
 0.8481335043907166,
 0.8342782855033875,
 0.8342782855033875,
 0.8499788045883179,
 0.8499788045883179,
 0.8509632349014282,
 0.854529082775116,
 0.854529082775116,
 0.8563291430473328,
 0.8563291430473328,
 0.8563291430473328,
 0.8563291430473328,
 0.8565295338630676,
 0.8565295338630676,
 0.854529082775116,
 0.854529082775116,
 0.849371075630188,
 0.849371075630188,
 0.8481739163398743,
 0.8481739163398743,
 0.854529082775116,
 0.854529082775116,
 0.8500491976737976,
 0.8500491976737976,
 0.8544758558273315,
 0.8544758558273315,
 0.8481739163398743,
 0.8481739163398743,
 0.854529082775116,
 0.854529082775116,
 0.8500491976737976,
 0.8500491976737976,
 0.8544758558273315,
 0.8544758558273315,
 0.8525999188423157,
 0.8525999188423157,
 0.8499788045883179,
 0.8499788045883179,
 0.8416848182678223,
 0.8481335043907166,
 0.8500273823738098,
 0.8416848182678223,
 0.8483192324638367,
 0.8483192324638367,
 0.8539139032363892,
 0.8539139032363892,
 0.8452661633491516,
 0.8452661633491516,
 0.8483192324638367,
 0.8483192324638367,
 0.8511457443237305,
 0.8511457443237305,
 0.8450351357460022,
 0.8450351357460022,
 0.8444433212280273,
 0.8444433212280273,
 0.854529082775116,
 0.8684529662132263,
 0.8360393643379211,
 0.8512237668037415,
 0.8415354490280151,
 0.8415354490280151,
 0.8542828559875488,
 0.8542828559875488,
 0.8503831624984741,
 0.8503831624984741,
 0.8501716256141663,
 0.8501716256141663,
 0.854529082775116,
 0.854529082775116,
 0.8401901721954346,
 0.8401901721954346,
 0.8392695188522339,
 0.8392695188522339,
 0.8509337902069092,
 0.8509337902069092,
 0.8525999188423157,
 0.8525999188423157,
 0.8452661633491516,
 0.8452661633491516,
 0.8563291430473328,
 0.8563291430473328,
 0.8452661633491516,
 0.8452661633491516,
 0.8563291430473328,
 0.8563291430473328,
 0.8563291430473328,
 0.8525999188423157,
 0.8525999188423157,
 0.8452661633491516,
 0.8452661633491516,
 0.8563291430473328,
 0.8563291430473328,
 0.8452661633491516,
 0.8452661633491516,
 0.8563291430473328,
 0.8563291430473328,
 0.8563291430473328,
 0.8484359383583069,
 0.8484359383583069,
 0.8509632349014282,
 0.8490087389945984,
 0.8490087389945984,
 0.8509337902069092,
 0.8509337902069092,
 0.8506429195404053,
 0.8360393643379211,
 0.8342782855033875,
 0.8506429195404053,
 0.8360393643379211,
 0.8342782855033875,
 0.8511457443237305,
 0.8511457443237305,
 0.8481739163398743,
 0.8481739163398743,
 0.8487930297851562,
 0.8500491976737976,
 0.8500491976737976,
 0.8499788045883179,
 0.8499788045883179,
 0.8516910672187805,
 0.8452661633491516,
 0.8452661633491516,
 0.8483192324638367,
 0.8483192324638367,
 0.8392695188522339,
 0.8417825102806091,
 0.8416848182678223,
 0.8416848182678223]

##### 为每位求职者提供求职者满意度非0的招聘信息，将结果进行降序排序存放在“result3-2.csv”文件中

In [45]:
vvv = ['工作id','xdate','人才id','ydate']
sjfx_data3 = sjfx_data2[vvv]
sjfx_data3['label'] = sjfx_data2_xy
sjfx_data3.to_csv('F:/amyself/c题爬虫/第三题/resul3-2_1.csv')
sjfx_data3.sort_values(by='label', inplace=True, ascending=False)
sjfx_data3

C:\Users\Administrator\AppData\Local\Temp\ipykernel_21028\122228926.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sjfx_data3['label'] = sjfx_data2_xy
C:\Users\Administrator\AppData\Local\Temp\ipykernel_21028\122228926.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sjfx_data3.sort_values(by='label', inplace=True, ascending=False)

             工作id          xdate                 人才id        ydate     label
39   1.482196e+18  20000.05年工作经验  1507237125567938560   60001年工作经验  0.871785
69   1.482196e+18  12500.03年工作经验  1470311341238648832   90001年工作经验  0.868453
194  1.482192e+18  12500.03年工作经验  1462685278807392256  110001年工作经验  0.868453
76   1.482195e+18  20000.03年工作经验  1484369311995920384   80004年工作经验  0.866984
29   1.482196e+18  40000.05年工作经验  1461666278635864064  150001年工作经验  0.866243
..            ...            ...                  ...          ...       ...
244  1.482185e+18     12500.0无经验  7539868482224713236      6000无经验  0.834278
84   1.482195e+18      6000.0无经验  1470313042016337920      8000无经验  0.831967
85   1.482195e+18      6000.0无经验  1472772112841310208      9000无经验  0.831967
19   1.525006e+18      6000.0无经验  1583024721031725056      7000无经验  0.831967
13   1.536667e+18      7500.0无经验  1627308899029876736     55000无经验  0.831531

[266 rows x 5 columns]

In [43]:
sjfx_data3.to_csv('F:/amyself/c题爬虫/第三题/resul3-2.csv')

In [ ]:
# haha_label = []
# haha_label_xy = []
# for sent1 in haha_x1:
#     for sent2 in haha_y1:
#         sent1_ids = sent2index(vocab2id, jieba.lcut(sent1))
#         sent2_ids = sent2index(vocab2id, jieba.lcut(sent2))
#         sent1_pad = pad_sequences([sent1_ids], maxlen=max_len, padding='post')
#         sent2_pad = pad_sequences([sent2_ids], maxlen=max_len, padding='post')
#         preds = model.predict([sent1_pad, sent2_pad])
#         haha_label_xy.append(preds[0])
#     haha_mean = sum(haha_label_xy)/len(haha_label_xy)
#     haha_label.append(haha_mean)
# haha_label